	.search{
		margin-top:50px;
		text-align:center;
	}	
	.body_section{
		margin-bottom: 100px;	
	}	
	.portlet.box.green {
		border: 1px solid #555 !important;
		margin-top: 68px;
	}
	.portlet.box.green>.portlet-title, .portlet.green, .portlet>.portlet-body.green {
		background-color: #555;
		border: 1px solid #555;
		color:#fff !important;		
	}
	.buttons-pdf{
		background-color: #555;
		padding-left: 14px;
		border: 1px solid #555;
		padding-right: 14px;
	}
	.msg{
	    text-align: center;
		color: red;
	}	
	.form-inline {
		display:block;
	}	
	.frontend-datatable.portlet.box>.portlet-body {
		background-color: #fff;
		padding: 15px;
		
	}
	.frontend-datatable.portlet.box.green>.portlet-title>.caption, .frontend-datatable.portlet.box.green>.portlet-title>.caption>i {
		color: #FFF;
	}
  /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    .navbar-brand{
		 padding:0px !important;
	}	
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
		background-color: #555;
		color: white;
		padding: 6px;
		margin-top: 88px;
		bottom: 0;
		position: fixed;
    }
	header{
		background-color: #555;
		color: white;
		padding: 15px;
    }
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }
	.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
		background-color: #555;
	}
	.modal-header .close {
		margin-top: -2px;
		float: left;
		left: 14px;
		position: fixed;
	}	
	.pagination{
		margin:0px !important;
	}	